#!/usr/bin/make -f
# -*- makefile -*-

include /usr/share/dpkg/default.mk
include /usr/share/dpkg/pkg-info.mk

export DH_VERBOSE = 1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

VERSION ?= $(DEB_VERSION_UPSTREAM)

%:
	dh $@ --with dkms

override_dh_auto_install:
	dh_install -prtl8852bu-dkms *.c *.h *.md 					usr/src/rtl8852bu-$(VERSION)
	dh_install -prtl8852bu-dkms LICENSE 					        usr/src/rtl8852bu-$(VERSION)
	dh_install -prtl8852bu-dkms Makefile 					        usr/src/rtl8852bu-$(VERSION)

override_dh_dkms:
	dh_dkms -V $(VERSION)

override_dh_auto_build:
	:
